<div class="container">
    <div class="protocol-header">
        <div class="info">
            <p>ПРОТОКОЛ</p>
            <p>Контроля характеристик</p>
            <br>
            <p>{{unit.unit_type}}</p>
            <p style="font-weight: bold;">{{unit.unit}} c/н: {{unit.serial}}</p>
        </div>

        <div class="date">
            <p>{{period.period}}</p><br>
            <p>июнь 2022</p>

        </div>
    </div>


    <p></p>
    <br>
    <br>
    <table class="protocol">
        <tr>
            <th>
                <div class="text">Дата</div>
            </th>
            {% for pars in period.data %}
            <th>
                <div class="text">{{pars}}</div>
            </th>
            {% endfor %}
        </tr>
        {% for i in range(1,32) %}
        <tr class="{{i}}">
            <td>{{i}}</td>
            {% for i in range(1,period.data|length+1) %}
            <td></td>
            {%endfor%}
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="signature">
        <div class="capture">
            <p>Заведующий отделением:</p>
        </div>

        <div class="sign">
            <p>________________________________________</p>
            <p>(Ф.И.O., подпись)</p>
        </div>

    </div>
</div>