.data-container {
    margin: auto;

    .item-list {
        cursor: default;
        text-align: center;

        #add-form {
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: none;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0px;

            #cancel {
                width: 50px;
                height: 50px;
                background-image: url(/settings/static/img/cancel.svg);
                background-size: cover;
            }

            input[type="submit"] {
                width: 50px;
                height: 50px;
                background-image: url(/settings/static/img/add.svg);
                background-size: cover;
            }
        }

        #add {
            display: inline-block;
            width: 100px;
            height: 50px;
            margin: 20px;
        }

        table {
            min-width: 100px;
            margin: auto;
            border-collapse: collapse;

            thead {
                height: 70px;
            }

            tr {
                height: 35px;

                &:hover td {
                    background-color: antiquewhite;
                    color: #009879;
                }

                th {
                    padding: 0px 35px;
                    background-color: #009879;
                    color: #ffffff;
                    border: 1px solid black;
                }

                td {
                    border: 1px solid black;
                    background-color: white;
                    padding: 0px 35px;
                }

                &:after {
                    width: 35px;
                    height: inherit;
                    background-color: #009879;
                    position: absolute;
                    content: 'sdf';

                    &:hover {
                        visibility: hidden;
                    }
                }

            }
        }
    }
}

.content-container {
    display: flex;


    nav.settings {
        width: 10%;

        ul {
            li {

                background-color: adjust-hue($color: #000000, $degrees: 0);

                a {
                    display: block;
                    color: white;
                    padding: 20px;
                    text-align: center;
                }
            }
        }
    }

    main {
        width: 90%;
    }
}