{% extends "settings.html" %}
{% block content %}
<div class="data-container">
    <div class="item-list">
        <form id="add-form" action="{{ url_for('.deviation') }}" method="POST">
            <button id="cancel" type="button"></button>
            <input type="text" name="deviation_value">
            <input type="submit" value="">
        </form>
        <button id="add">добавить</button>
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Отклонение</th>
                </tr>
            </thead>
            <tbody>
                {%for number,deviation in deviations %}
                <tr class="data" id="{{deviation.deviation_id}}">
                    <td>{{number+1}}</td>
                    <td>{{deviation.deviation_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script src="{{url_for('settings_bp.static', filename='deviation.js')}}"></script>
{% endblock %}