{% extends "settings.html" %}
{% block content %}
<div class="data-container">
    <div class="item-list">
        <form id="add-form" action="{{ url_for('.parameter') }}" method="POST">
            <button id="cancel" type="button"></button>
            <input id="input" type="text" name="parameter_desc">
            <input id="select" type="select" name="deviation_desc">
            <input type="submit" value="">
        </form>
        <button id="add">добавить</button>
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Параметр</th>
                    <th>Отклонение</th>
                </tr>
            </thead>
            <tbody>
                {%for number,parameter in parameters %}
                <tr>
                    <td>{{number}}</td>
                    <td>{{parameter.parameter_desc}}</td>
                    <td>{{parameter.deviation.deviation_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script src="{{url_for('settings_bp.static', filename='parameter.js')}}"></script>
{% endblock %}