{% extends "index.html" %}
{% block main %}
<div class="general_add_form">
    <form action="" class="add_unit" method="POST">
        <label for="unit_desc">Название аппарата</label>
        <input type="text" name="unit_desc" id="unit_desc">
        <label for="serial_number">Серийный номер</label>
        <input type="text" name="serial_number" id="serial_number">
        <label for="unit_type_desc">Тип аппарата</label>
        <select type='text' name="unit_type_desc" id="unit_type_desc">
            {%for unit in unit_types%}
            <option value="{{unit.unit_type_desc}}">{{unit.unit_type_desc}}</option>
            {%endfor%}
        </select>
        <label for="">Дата ввода в экстплуатацию</label>
        <input type="date" name="" id="">

        <input type="submit" name="submit_button" value="Добавить">
    </form>
</div>



<div class="item-list">
    <table>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Тип</th>
            <th>Серийный номер</th>
            <th></th>
        </tr>
        {%for number, unit in units%}
        <tr>
            <td>{{number+1}}</td>
            <td>{{unit.unit_desc}}</td>
            <td>{{unit.unit_type.unit_type_desc}}</td>
            <td>{{unit.serial_number}}</td>
            <td id={{unit.id}} onclick="edit(this)"></td>
        </tr>
        {%endfor%}
    </table>
</div>
<script src="{{url_for('database_bp.static', filename='unit.js')}}"></script>
{% endblock %}