{% extends "database/general_data.html" %}

{% block data %}
<div class="general_add_form">
    <form action="" method="POST">
        <label for="deviation_value">Допустимое отклонение</label>
        <input type="text" id='deviation_value' name="deviation_value">
        <input type="submit" name="submit_button" value="Добавить">
    </form>
</div>
<div class="item-list">
    <table>
        <tr>
            <th>№</th>
            <th>Допустимое отклонение</th>
            <th></th>
        </tr>
        {%for number, deviation in deviations%}
        <tr>
            <td>{{number+1}}</td>
            <td>{{deviation.deviation_value}}</td>
            <td id={{deviation.id}} onclick="edit(this)"></td>
        </tr>
        {%endfor%}
    </table>
    <script src="{{url_for('database_bp.static', filename='general_data/deviation.js')}}"></script>
</div>


{%endblock%}