@use 'styles/layout/header';
@use 'styles/layout/side_menu_documents';
@use 'styles/variables' as v;
@use 'styles/_reset';
@use 'styles/modal';
// @use 'styles/tables';

body {
    background: v.$main-background;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    user-select: none;
}

.main-container {
    display: flex;

    main {
        flex-grow: 1;
    }
}

a {
    color: white;
    transition: 0.5s;

    &:hover {
        color: v.$link-hover-color;
    }
}

.container {
    width: 1200px;
    margin: auto;
}

.sub-menu {
    position: sticky;
    margin: auto;
    top: 70px;
    padding-top: 20px;

    ul {
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 10px;

        li {

            a {
                display: inline-block;
                padding: 10px 15px;
                border-radius: 20px;
                background-color: v.$header-menu-color;
                transition: 0.5s;
                box-shadow: 0 3px 15px rgba(0, 0, 0, .4);

                &:hover {
                    color: #23dbdb;
                }
            }
        }

        .unit_name {
            margin-right: 100px;

            a {
                font-size: 24px;
                cursor: default;
                width: 400px;
                text-align: center;
            }
        }
    }
}

.side-menu {
    position: sticky;
    top: 70px;
    display: inline-block;

    ul {
        background-color: v.$header-menu-color;

        li {
            border-top: 1px solid v.$link-border-small;

            &:first-child {
                border-top: none;
            }

            a {
                text-align: center;
                display: block;
                padding: 20px;
                font-size: 22px;

                &.active {
                    background-color: v.$link-active-background-color;
                }
            }
        }
    }
}

.data-container {
    display: flex;
    align-items: start;
}


.wrapper {
    position: relative;
    border: 2px solid red;
    margin-top: 20px;
    padding: 20px 10px 10px;

    label {
        color: white;
        line-height: 20px;
        padding: 0 5px;
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: red;
    }
}

.content-container {
    margin: auto;
    padding: 0 700px;

    iframe {
        height: 750px;
        width: 950px;
        margin: auto;
        zoom: 150%
    }
}

.info_container {
    border: 2px solid green;
    text-align: center;
    margin: auto;
}

.calendar {
    display: flex;
    justify-content: space-around;
    // align-items: center;

    .list-items {
        z-index: 3;
        // position: absolute;
        max-width: 320px;
        width: 200px;
        margin-top: 15px;
        border-radius: 8px;
        padding: 16px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        // animation-name: fadeInDown;
        // -webkit-animation-name: fadeInDown;
        // animation-duration: 0.35s;
        // animation-fill-mode: both;
        // -webkit-animation-duration: 0.35s;
        // -webkit-animation-fill-mode: both;

        .item {
            z-index: 1;
            display: flex;
            align-items: center;
            list-style: none;
            height: 50px;
            cursor: pointer;
            // transition: 0.3s;
            padding: 0 15px;
            border-radius: 8px;

            &:hover {
                background-color: #e3f2fd;

            }

            .item-text {
                font-size: 16px;
                font-weight: 400;
                color: #333;
            }

            .checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
                border-radius: 4px;
                margin-right: 12px;
                border: 1.5px solid #c0c0c0;
                // transition: all 0.3s ease-in-out;

                .check-icon {

                    color: #fff;
                    font-size: 11px;
                    transform: scale(0);
                    transition: all;
                }
            }

            &.checked .checkbox {
                background-color: #4070fa;
                border-color: #4070fa;
            }

            &.checked .check-icon {
                transform: scale(1);
            }
        }
    }
}

.calendar-container {
    width: 1786px;
    // max-width: 2000px;
    // margin: auto;

    .month-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 25px;
        row-gap: 13px;

        .month {

            h3 {
                text-align: center;
                // color: #f12408;
                padding: 3 5px;
                font-weight: 700;
                font-size: 25px;
            }



            .days {
                .days-caption {
                    display: contents;

                    .day {
                        background-color: rgb(189, 47, 47);
                        // background-color: v.$header-menu-color;
                        text-align: center;
                        color: white;
                        font-weight: 700;
                        height: 35px;
                    }
                }

                // background-color: #23dbdb;
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto;
                gap: 4px;

                .day {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // width: 50px;
                    height: 48px;
                    border-radius: 5px;
                    background-color: white;
                    // border: 2px solid rgb(0, 255, 42);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

                    .event-count {
                        display: flex;
                        font-size: 15px;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        // padding: 5px;
                        border-radius: 50%;
                        overflow: hidden;
                        text-wrap: nowrap;
                        z-index: 3;
                        position: absolute;
                        background-color: white;
                        border: 1px solid green;
                        color: black;
                        top: 35px;
                        left: 40px;
                        justify-content: center;
                        align-items: center;
                        color: red;
                    }

                    .tooltip {
                        background-color: white;
                        border: 2px solid black;
                        border-radius: 15px;
                        text-wrap: nowrap;
                        padding: 20px;
                        z-index: 100;
                        visibility: hidden;
                        position: absolute;
                        top: -50px;
                        left: 50px;

                        &:hover {
                            visibility: visible;
                        }
                    }

                    &:hover .tooltip {
                        visibility: visible;
                    }
                }
            }
        }
    }
}


.calendar-options {
    display: flex;
    align-items: center;
    justify-content: center;

    .year-selector {
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        width: 250px;
        height: 80px;
        align-items: center;
        justify-content: space-around;

        .previous {
            width: 40px;
            height: 40px;
            // background-color: #4070fa;
            background-image: url(icons/double-arrowheads-outlines-pointing-to-left-direction-svgrepo-com.svg);
            background-size: contain;
        }

        .next {
            width: 40px;
            height: 40px;
            // background-color: #4070fa;
            background-image: url(icons/double-arrowheads-outlines-pointing-to-left-direction-svgrepo-com.svg);
            background-size: contain;
            transform: rotate(180deg);
        }

        p.current-year {
            font-size: 24px;
        }
    }


    .drop-down-container {
        position: relative;
        max-width: 320px;
        width: 100%;
        margin: 25px auto 25px;

        .select-btn {
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            border-radius: 8px;
            cursor: pointer;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

            .btn-text {
                font-size: 17px;
                font-weight: 400;
                color: #333;
            }

            .arrow-down {
                display: flex;
                height: 21px;
                width: 21px;
                color: #fff;
                font-size: 14px;
                border-radius: 50%;
                background: #6e93f7;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
            }

            &.open .arrow-down {
                transform: rotate(-180deg);
            }

            &.open~.list-items {
                visibility: hidden;
                animation-name: fadeInUp;
                -webkit-animation-name: fadeInUp;
                animation-duration: 0.4s;
                animation-fill-mode: both;
                -webkit-animation-duration: 0.4s;
                -webkit-animation-fill-mode: both;
            }
        }

        .list-items {
            z-index: 3;
            position: absolute;
            max-width: 320px;
            width: 100%;
            margin-top: 15px;
            border-radius: 8px;
            padding: 16px;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            animation-name: fadeInDown;
            -webkit-animation-name: fadeInDown;
            animation-duration: 0.35s;
            animation-fill-mode: both;
            -webkit-animation-duration: 0.35s;
            -webkit-animation-fill-mode: both;

            .item {
                z-index: 1;
                display: flex;
                align-items: center;
                list-style: none;
                height: 50px;
                cursor: pointer;
                // transition: 0.3s;
                padding: 0 15px;
                border-radius: 8px;

                &:hover {
                    background-color: #e3f2fd;

                }

                .item-text {
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 16px;
                    width: 16px;
                    border-radius: 4px;
                    margin-right: 12px;
                    border: 1.5px solid #c0c0c0;
                    // transition: all 0.3s ease-in-out;

                    .check-icon {

                        color: #fff;
                        font-size: 11px;
                        transform: scale(0);
                        transition: all;
                    }
                }

                &.checked .checkbox {
                    background-color: #4070fa;
                    border-color: #4070fa;
                }

                &.checked .check-icon {
                    transform: scale(1);
                }
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}


@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 20px, 0);
        visibility: hidden;
    }
}


#tab-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .tabs {
        display: flex;
        gap: 20px;

        .tab {
            background-color: rgb(115, 115, 241);
            padding: 10px 20px;
            border: 2px solid black;
            border-radius: 0 30px 0 0;
            color: white;
        }
    }

    .table-container {
        cursor: default;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;

        table {
            max-width: 1200px;
            min-width: 550px;
            border-collapse: collapse;

            thead {
                tr {
                    height: 70px;

                    td {
                        padding: 0px 35px;
                        background-color: #009879;
                        color: #ffffff;
                        border: 1px solid black;

                    }
                }
            }

            tbody {
                tr {
                    box-sizing: border-box;
                    height: 35px;
                    position: relative;

                    &.new td {
                        background-color: #cdf8f8;
                    }

                    &.edit td {
                        background-color: rgb(240, 252, 218) !important;
                        color: black !important;
                    }



                    &:hover td {
                        background-color: antiquewhite;
                        color: #009879;

                        select {
                            background-color: antiquewhite;
                        }
                    }

                    &.hidden {
                        display: none;
                    }

                    td {
                        padding: 0 5px;
                        border: 1px solid black;
                        background-color: white;

                        input {
                            width: calc(100%);
                            height: 100%;
                            box-sizing: border-box;
                            text-align: center;
                        }

                        select {
                            height: 100%;
                            width: 100%;
                            border: none;
                            font-family: inherit;
                            font-size: inherit;
                            text-align: center;
                            // pointer-events: none;
                        }
                    }



                    .toolbar {
                        position: absolute;
                        top: -100%;
                        left: calc(100% + 20px);
                        z-index: 10;
                        display: flex;
                        gap: 30px;
                        flex-direction: column;


                        .add-btn {
                            height: 35px;
                            width: 100px;
                            border-radius: 5px;
                            background-color: rgb(80, 160, 80);
                        }

                        .cancel-btn {
                            height: 35px;
                            width: 100px;
                            border-radius: 5px;
                            background-color: rgb(253, 120, 120);
                        }
                    }


                    &:first-child {
                        td {
                            background-color: lightgray;
                        }

                    }
                }
            }
        }
    }
}