* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 21cm;
    margin: auto;
    text-align: center;

    header {
        display: flex;


        .header-wrapper {
            margin-left: auto;
            text-align: left;

            p {
                font-size: 14pt;
            }
        }
    }

    .title {
        padding: 30px;

        p {
            text-transform: uppercase;
            padding: 5px;
        }
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px 20px;
    }

    table {
        width: 700px;
        margin: auto;

        td:nth-child(1) {
            width: 30px;
        }

        td:nth-child(3) {
            width: 100px;
        }

    }

    .item-list {
        p {
            padding: 20px 0px 5px 0px;
        }
    }

    .signature {
        margin-top: 30px;

        .person {
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
    }

}


@page {
    size: A4;
}

@media print {
    .item-list {
        break-inside: avoid;
    }
}