*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input,
select,
textarea,
button {
    font: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0;
}