// $main-background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgba(174, 178, 255, 1) 100%);
$main-background: linear-gradient(0deg, rgb(222, 241, 241) 0%, rgb(220, 222, 247) 100%);
$header-menu-color: #074561;
$link-hover-color: #23dbdb;
$link-active-background-color: #376a81;
$link-border-small: #287ca7;