{% extends "settings.html" %}
{% block content %}

<div class="modal" id="modal">
    <form id="add-form" action="{{ url_for('.deviation') }}" method="POST">
        <input type="hidden" name="id">
        <div class="input_box">
            <label for="deviation_desc">Отклонение</label>
            <input type="text" name="deviation_desc">
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
<div id="overlay"></div>

<div class="data-container">
    <div class="item-list">
        <button data-modal-target="#modal" id="add">добавить</button>
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Отклонение</th>
                </tr>
            </thead>
            <tbody>
                {%for number,deviation in deviations %}
                <tr class="data" id="{{deviation.deviation_id}}">
                    <td>{{number+1}}</td>
                    <td>{{deviation.deviation_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('settings_bp.static', filename='deviation.js')}}"></script>

{% endblock %}