{% extends "index.html" %}
{% block main %}

<div class="modal" id="modal">
    <form id="add-form" action="{{ url_for('.document_type') }}" method="POST">
        <input type="hidden" name="id">
        <div class="input_box">
            <label for="document_type_desc">Тип документа</label>
            <input type="text" name="document_type_desc">
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
<div id="overlay"></div>

<div class="data-container">
    {% include 'settings/settings.html' %}
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Тип документа</th>
                </tr>
            </thead>
            <tbody>
                {%for document_type in document_types %}
                <tr class="data" id="{{document_type.document_type_id}}">
                    <td>{{loop.index}}</td>
                    <td>{{document_type.document_type_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <button data-modal-target="#modal" id="add"></button>
    </div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('settings_bp.static', filename='settings.js')}}"></script>
{% endblock %}