{% extends "index.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('equipment_data_bp.static',filename='equipment_data.css') }}">
{% endblock %}
{% block main %}
<div class="data-container">
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>Тип энергии</th>
                </tr>
            </thead>
            <tbody>
                {%for source_type in data['source_types'] %}
                <tr>
                    <td>{{source_type.source_type_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Рентген</th>
                </tr>
                <tr>
                    <th>Напряжение</th>
                    <th>Сила тока</th>
                </tr>
            </thead>
            <tbody>
                {%for x_ray in data['x_rays'] %}
                <tr>
                    <td>{{x_ray.voltage}}</td>
                    <td>{{x_ray.current}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="{{url_for('equipment_data_bp.energies')}}?f=x_rays" method="POST">
            <input type="text" name="voltage">
            <input type="text" name="current">
            <input type="submit" name="submit_button" value="Добавить">
        </form>
    </div>
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>Фотоны</th>
                </tr>
            </thead>
            <tbody>
                {%for photon in data['photons'] %}
                <tr>
                    <td>{{photon.photon_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="{{url_for('equipment_data_bp.energies')}}?f=photons" method="POST">
            <input type="text" name="photon_desc">
            <input type="submit" name="submit_button" value="Добавить">
        </form>
    </div>
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>Электроны</th>
                </tr>
            </thead>
            <tbody>
                {%for electron in data['electrons'] %}
                <tr>
                    <td>{{electron.electron_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="{{url_for('equipment_data_bp.energies')}}?f=f1" method="POST">
            <input type="text" name="electron_desc">
            <input type="submit" name="submit_button" value="Добавить">
        </form>
    </div>
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Изотопы</th>
                </tr>
                <tr>
                    <th>Изотоп</th>
                    <th>Полураспад</th>
                </tr>
            </thead>
            <tbody>
                {%for isotope in data['isotopes'] %}
                <tr>
                    <td>{{isotope.isotope_desc}}</td>
                    <td>{{isotope.half_life}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="{{url_for('equipment_data_bp.energies')}}?f=f1" method="POST">
            <input type="text" name="isotope_desc" placeholder="изотоп">
            <input type="text" name="half_life" placeholder="полураспад">
            <input type="submit" name="submit_button" value="Добавить">
        </form>
    </div>
</div>
{%endblock%}