{% extends "settings.html" %}
{% block content %}

<div class="modal" id="modal">
    <form id="add-form" action="{{ url_for('.parameter') }}" method="POST">
        <input type="hidden" name="id">
        <div class="input_box">
            <label for="parameter_desc">Параметр</label>
            <input type="text" name="parameter_desc">
        </div>
        <div class="input_box">
            <label for="deviation_desc">Отклонение</label>
            <select name="deviation_desc" id="select">
                {% for deviation in deviations %}
                <option value="{{deviation.deviation_desc}}">{{deviation.deviation_desc}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
<div id="overlay"></div>

<div class="data-container">
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Параметр</th>
                    <th>Отклонение</th>
                </tr>
            </thead>
            <tbody>
                {%for number,parameter in parameters %}
                <tr class="data" id="{{parameter.parameter_id}}">
                    <td>{{number+1}}</td>
                    <td>{{parameter.parameter_desc}}</td>
                    <td>{{parameter.deviation.deviation_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('settings_bp.static', filename='parameter.js')}}"></script>
{% endblock %}