{% extends "index.html" %}
{% block main %}


<div class="modal" id="modal">
    <form id="add-form" action="{{ url_for('.period') }}" method="POST">
        <input type="hidden" name="id">
        <div class="input_box">
            <label for="period_desc">Периодичность</label>
            <input type="text" name="period_desc">
        </div>
        <div class="input_box">
            <label for="period_duration">Длительность</label>
            <input type="text" name="period_duration">
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
<div id="overlay"></div>

<div class="data-container">
    {% include 'settings/settings.html' %}
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Периодичность</th>
                    <th>Длительность</th>
                </tr>
            </thead>
            <tbody>
                {%for period in periods %}
                <tr class="data" id="{{period.period_id}}">
                    <td>{{loop.index}}</td>
                    <td>{{period.period_desc}}</td>
                    <td>{{period.period_duration}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <button data-modal-target="#modal" id="add"></button>
    </div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('settings_bp.static', filename='settings.js')}}"></script>
{% endblock %}