<nav class="side-menu">
    <ul>
        <li><a href="{{url_for('settings_bp.deviation')}}">Отклонения</a></li>
        <li><a href="{{url_for('settings_bp.parameter')}}">Параметры</a></li>
        <li><a href="{{url_for('settings_bp.period')}}">Периодичность</a></li>
        <li><a href="{{url_for('settings_bp.unit_type')}}">Тип аппарата</a></li>
        <li><a href="{{url_for('settings_bp.unit')}}">Аппараты</a></li>
        <li><a href="{{url_for('settings_bp.document_type')}}">Тип документа</a></li>
        <li><a href="{{url_for('settings_bp.document_type')}}">Рентгеновское излучения</a></li>
        <li><a href="{{url_for('settings_bp.document_type')}}">Изотопы</a></li>
    </ul>
</nav>