{% extends "settings.html" %}
{% block content %}

<div class="modal" id="modal">
    <form id="add-form" action="{{ url_for('.unit') }}" method="POST">
        <input type="hidden" name="id">
        <div class="input_box">
            <label for="unit_desc">Наименование</label>
            <input type="text" name="unit_desc">
        </div>
        <div class="input_box">
            <label for="unit_sn">Серийный номер</label>
            <input type="text" name="unit_sn">
        </div>
        <div class="input_box">
            <label for="unit_type_desc">Тип аппарата</label>
            <select name="unit_type_desc" id="select">
                {% for unit_type in unit_types %}
                <option value="{{unit_type.unit_type_desc}}">{{unit_type.unit_type_desc}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
<div id="overlay"></div>

<div class="data-container">
    <div class="item-list">
        <button data-modal-target="#modal" id="add">добавить</button>
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Наименование</th>
                    <th>Серийный номер</th>
                    <th>Тип аппарата</th>
                </tr>
            </thead>
            <tbody>
                {%for number,unit in units %}
                <tr class="data" id="{{unit.unit_id}}">
                    <td>{{number+1}}</td>
                    <td>{{unit.unit_desc}}</td>
                    <td>{{unit.unit_sn}}</td>
                    <td>{{unit.unit_type.unit_type_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('settings_bp.static', filename='unit.js')}}"></script>
{% endblock %}