{% extends "index.html" %}
{% block main %}
{% include 'calendar/modal-document.html' %}
{% include 'calendar/modal-pdf-viewer.html' %}
{% include 'calendar/modal-errors.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>

<div id="overlay"></div>
<div id="context-menu">
    <p class="context-menu__item">Delete</p>
</div>
<div class="calendar-options">
    <div class="messages">
        <p>Messages</p>
    </div>
    <div class="year-selector">
        <div class="previous"></div>
        <p class="current-year"></p>
        <div class="next"></div>
    </div>
</div>
<div class="calendar">
    <div class="unit-selection">
        <ul class="list-items">
            {% for unit in units %}
            <li class="item" unit_id="{{unit.unit_id}}">
                <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                </span>
                <span class="item-text">{{unit.unit_desc}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="calendar-container">
    </div>
    <div class="document-selection">
        <ul class="list-items">
            {% for document_type in document_types %}
            <li class="item" document_type_id="{{document_type.document_type_id}}">
                <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                </span>
                <span class="item-text">{{document_type.document_type_desc}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<meta name="words" data-words='{{documents}}'>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('calendar.static', filename='calendar.js')}}"></script>
<script src="{{url_for('calendar.static', filename='modal_document.js')}}"></script>
{% endblock %}