{% extends "index.html" %}
{% block main %}

<div class="select-protocol">
    <input type="month" name="" id="">
    <table>
        <tr>
            <th></th>
            {% for period in periods%}
            <th>{{period}}</th>
            {% endfor%}
        </tr>
        {% for unit, per in protocols.items() %}
        <tr>
            <td>{{unit}}</td>
            {%for period in periods%}
            {% if period in per[1]%}
            <td class="inactive"></td>
            {% else%}
            <td class="absent"></td>
            {%endif%}
            {%endfor%}
        </tr>
        {% endfor %}
    </table>
    <button id="print">Печатать</button>

</div>
<script>
    let all_units = {{ units | safe}}
    let all_periods = {{ periods | safe}}
</script>
<script src="{{url_for('static', filename='protocol.js')}}"></script>

{% endblock %}