<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='print_daily.css') }}">
    <title>Document</title>
</head>

<body>
    {% for unit, unit_types in units.items() %}
    {% for unit_type, periods in unit_types.items() %}
    {% for period, parameters in periods.items() %}
    {% if period == 'ежедневный'%}
    <div class="container">
        <header>
            <div class="title">
                <p class="h1">Протокол</p>
                <p>Контроля технических характеристик</p>
                <p>{{unit_type}}</p>
                <p class="unit">{{unit}}
            </div>
            <div class="header-wrapper">
                <p>Ежедневный</p>
                <div class="line">
                    <p>Год: </p>
                    <p class="year">{{date[0]}}</p>
                </div>
                <div class="line">
                    <p>Месяц:</p>
                    <p class="month">Март</p>
                </div>
            </div>
        </header>
        <main>
            <div class="data-container">
                <div class="item-list">
                    <table class="daily">
                        <thead>
                            <tr>
                                <th class="vertical">Дата</th>
                                {%for parameter in parameters %}
                                <th class="vertical">{{parameter[0]}}</th>
                                {%endfor%}
                                <th class="last vertical">Подпись</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <div class="signature">
                <div class="person">
                    <p>Инженер (заведующий) ИТРО</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>
    </div>
    <div style="break-after:page"></div>
    {% endif %}
    {% if period == 'еженедельный'%}
    <div class="container">
        <header>
            <div class="title">
                <p class="h1">Протокол</p>
                <p>Контроля технических характеристик</p>
                <p>{{unit_type}}</p>
                <p class="unit">{{unit}}
            </div>
            <div class="header-wrapper">
                <p>Еженедельный</p>
                <div class="line">
                    <p>Год: </p>
                    <p class="year">{{date[0]}}</p>
                </div>
                <div class="line">
                    <p>Месяц:</p>
                    <p class="month"> {{date[1]}}</p>
                </div>
            </div>
        </header>
        <main>
            <div class="data-container">
                <div class="item-list">
                    <table class="weekly">
                        <thead>
                            <tr>
                                <th rowspan="2">Характеристика</th>
                                <th rowspan="2">Допустимое отклонение</th>
                                <th colspan="5">Неделя</th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for parameter in parameters %}
                            <tr>
                                <td>{{parameter[0]}}</td>
                                <td>{{parameter[1]}}</td>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            {%endfor%}
                            <tr>
                                <td colspan="2">Дата</td>
                                <td class="reset"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td colspan="2">Подпись</td>
                                <td class="reset"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <div class="signature">
                <div class="person">
                    <p>Инженер (заведующий) ИТРО</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>
    </div>
    <div style="break-after:page"></div>
    {% endif %}
    {% if period == 'квартальный'%}
    <div class="container">
        <header>
            <div class="title">
                <p class="h1">Протокол</p>
                <p>Контроля технических характеристик</p>
                <p>{{unit_type}}</p>
                <p class="unit">{{unit}}
            </div>
            <div class="header-wrapper">
                <p>квартальный</p>
                <div class="line">
                    <p>Год: </p>
                    <p class="year">{{date[0]}}</p>
                </div>
            </div>
        </header>
        <main>
            <div class="data-container">
                <div class="item-list">
                    <table class="weekly quartal">
                        <thead>
                            <tr>
                                <th rowspan="2">Характеристика</th>
                                <th rowspan="2">Допустимое отклонение</th>
                                <th colspan="4">Квартал</th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for parameter in parameters %}
                            <tr>
                                <td>{{parameter[0]}}</td>
                                <td>{{parameter[1]}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {%endfor%}
                            <tr>
                                <td colspan="2">Дата</td>
                                <td class="reset"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Подпись</td>
                                <td class="reset"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <div class="signature">
                <div class="person">
                    <p>Инженер (заведующий) ИТРО</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>
    </div>
    <div style="break-after:page"></div>
    {% endif %}
    {% if period == 'ежемесячный'%}
    <div class="container">
        <header>
            <div class="title">
                <p class="h1">Протокол</p>
                <p>Контроля технических характеристик</p>
                <p>{{unit_type}}</p>
                <p class="unit">{{unit}}
            </div>
            <div class="header-wrapper">
                <p>Ежемесячный</p>
                <div class="line">
                    <p>Год: </p>
                    <p class="year">{{date[0]}}</p>
                </div>
                <div class="line">
                    <p>Месяц:</p>
                    <p class="month"></p>
                </div>
                <div class="line">
                    <p>Число:</p>
                    <p> ________</p>
                </div>
            </div>
        </header>
        <main>
            <div class="data-container">
                <div class="item-list">
                    <table class="monthly">
                        <thead>
                            <tr>
                                <th>Характеристика</th>
                                <th>Допустимое отклонение</th>
                                <th>Результат</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for parameter in parameters %}
                            <tr>
                                <td>{{parameter[0]}}</td>
                                <td>{{parameter[1]}}</td>
                                <td></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <br>
            <div class="signature">
                <div class="person">
                    <p>Проверку провел</p>
                    <p>_____________ / __________________________</p>
                </div>
            </div>
            <br>
            <br>
            <div class="signature">
                <div class="person">
                    <p>Инженер (заведующий) ИТРО</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>
    </div>
    <div style="break-after:page"></div>
    {% endif %}
    {% if period == 'полугодовой'%}
    <div class="container">
        <header>
            <div class="title">
                <p class="h1">Протокол</p>
                <p>Контроля технических характеристик</p>
                <p>{{unit_type}}</p>
                <p class="unit">{{unit}}
            </div>
            <div class="header-wrapper">
                <p>полугодовой</p>
                <div class="line">
                    <p>Год: </p>
                    <p class="year">{{date[0]}}</p>
                </div>
                <div class="line">
                    <p>Дата:</p>
                    <p> ________</p>
                </div>
            </div>
        </header>
        <main>
            <div class="data-container">
                <div class="item-list">
                    <table class="monthly">
                        <thead>
                            <tr>
                                <th>Характеристика</th>
                                <th>Допустимое отклонение</th>
                                <th>Результат</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for parameter in parameters %}
                            <tr>
                                <td>{{parameter[0]}}</td>
                                <td>{{parameter[1]}}</td>
                                <td></td>

                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <br>
            <div class="signature">
                <div class="person">
                    <p>Проверку провел</p>
                    <p>_____________ / __________________________</p>
                </div>
            </div>
            <br>
            <br>
            <div class="signature">
                <div class="person">
                    <p>Инженер (заведующий) ИТРО</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>
    </div>
    <div style="break-after:page"></div>
    {% endif %}
    {% if period == 'годовой'%}
    <div class="container">
        <header>
            <div class="title">
                <p class="h1">Протокол</p>
                <p>Контроля технических характеристик</p>
                <p>{{unit_type}}</p>
                <p class="unit">{{unit}}
            </div>
            <div class="header-wrapper">
                <p>годовой</p>
                <div class="line">
                    <p>Год: </p>
                    <p class="year">{{date[0]}}</p>
                </div>
                <div class="line">
                    <p>Дата:</p>
                    <p> ________</p>
                </div>
            </div>
        </header>
        <main>
            <div class="data-container">
                <div class="item-list">
                    <table class="monthly">
                        <thead>
                            <tr>
                                <th>Характеристика</th>
                                <th>Допустимое отклонение</th>
                                <th>Результат</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for parameter in parameters %}
                            <tr>
                                <td>{{parameter[0]}}</td>
                                <td>{{parameter[1]}}</td>
                                <td></td>

                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <br>
            <div class="signature">
                <div class="person">
                    <p>Проверку провел</p>
                    <p>_____________ / __________________________</p>
                </div>
            </div>
            <br>
            <br>
            <div class="signature">
                <div class="person">
                    <p>Инженер (заведующий) ИТРО</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>
    </div>
    <div style="break-after:page"></div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
</body>
<script src="{{url_for('units.static', filename='print_daily.js')}}"></script>

</html>