@use 'styles/variables' as v;
@use 'styles/reset';
@use 'styles/modal';
@use 'styles/tables';


body {
    background: v.$background;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    user-select: none;

}

a {
    color: white;
    transition: 0.5s;

    &:hover {
        color: #23dbdb;
    }
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    background: v.$menu;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .4);

    .main-menu {

        .logo {
            display: inline-block;
            font-size: 33px;
            font-weight: bold;
            line-height: 70px;
        }

        ul {
            float: right;

            li {
                display: inline-block;
                position: relative;

                a {
                    display: block;
                    padding: 0 15px;
                    line-height: 70px;
                    font-size: 22px;
                    background: v.$menu;
                }

                ul {
                    position: absolute;
                    top: 100%;
                    border-top: 3px solid #23dbdb;
                    opacity: 0;
                    visibility: hidden;

                    li {
                        display: list-item;
                        position: relative;
                        border: 1px solid #287ca7;
                        border-top: none;

                        a {
                            line-height: 50px;
                        }
                    }
                }

                &:hover>ul {
                    width: fit-content;
                    opacity: 1;
                    visibility: visible;
                    transition: .3s linear;
                    white-space: nowrap;
                }
            }
        }
    }
}

.sub-menu {
    text-align: center;

    ul {
        margin-top: 25px;

        li {
            display: inline-block;
            padding: 0 5px;

            a {
                padding: 10px 15px;
                border-radius: 10px;
                background-color: v.$menu;
                transition: 0.5s;
                box-shadow: 0 3px 15px rgba(0, 0, 0, .4);

                &:hover {
                    color: #23dbdb;
                }
            }
        }
    }
}

nav.settings {
    position: relative;
    top: 0;
    left: 0;

    ul {
        background-color: v.$menu;
        display: inline-block;
        padding-inline-start: 0px;
        padding-top: 50px;

        li {
            padding: 20px;

            a {
                color: white;
                text-align: center;
            }
        }
    }
}