@charset "UTF-8";
header {
  z-index: 1;
  position: sticky;
  top: 0;
  background: #074561;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
header .main-menu .logo {
  display: inline-block;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
}
header .main-menu ul {
  float: right;
}
header .main-menu ul li {
  display: inline-block;
  position: relative;
}
header .main-menu ul li a {
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 22px;
  background-color: #074561;
}
header .main-menu ul li ul {
  position: absolute;
  top: 100%;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
header .main-menu ul li ul li {
  display: list-item;
  position: relative;
  border: 1px solid #287ca7;
  border-top: none;
  z-index: 1;
}
header .main-menu ul li ul li a {
  line-height: 50px;
}
header .main-menu ul li:hover > ul {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  white-space: nowrap;
}

.sidebar {
  z-index: 1;
  position: fixed;
  top: 70px;
  height: 100%;
  width: 260px;
  background-color: #074561;
  padding: 15px;
  overflow: hidden;
}
.sidebar .menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  overflow-y: scroll;
}
.sidebar .menu-content::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-content .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.sidebar .menu-content .controls p {
  font-size: 24px;
  color: white;
}
.sidebar .menu-content .controls .left,
.sidebar .menu-content .controls .right {
  width: 40px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #074561;
  border-radius: 50%;
}
.sidebar .menu-content .controls .left:hover,
.sidebar .menu-content .controls .right:hover {
  border: 2px solid green;
  transition: 0.3s;
  border-radius: 50%;
}
.sidebar .menu-content .controls .left {
  background-image: url(/static/icons/left-arrow-svgrepo-com.svg);
}
.sidebar .menu-content .controls .right {
  transform: rotate(180deg);
  background-image: url(/static/icons/left-arrow-svgrepo-com.svg);
}
.sidebar .menu-content .menu-items {
  height: calc(100% - 60px);
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .menu-content .menu-items .item .submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.sidebar p {
  font-size: 20px;
  color: white;
  text-align: center;
}
.sidebar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.sidebar a[period=ежедневный] {
  color: rgb(236, 171, 171);
}
.sidebar a[period=квартальный] {
  color: rgb(0, 255, 34);
}
.sidebar a[period=годовой] {
  color: rgb(0, 255, 255);
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menu-title {
  color: #fff;
  font-size: 20px;
  padding: 15px 20px;
  text-align: center;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}

.item i {
  font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.submenu {
  position: absolute;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  background-color: #376a81;
  display: none;
}

.show-submenu ~ .submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}

.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}

.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #4070f4;
  cursor: pointer;
}

.navbar #sidebar-close {
  cursor: pointer;
}

.document-controls {
  position: absolute;
  padding-left: 250px;
}
.document-controls #add {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  border-radius: 50%;
  background-image: url(/static/icons/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #009879;
  cursor: pointer;
}

.item_container {
  border: 2px solid white;
  margin: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
select,
textarea,
button {
  font: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

.modal {
  padding: 50px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  z-index: 10;
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#add-form {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#add-form .input_box {
  display: flex;
  flex-direction: column;
}
#add-form input {
  height: 35px;
  text-align: center;
  font-size: 18px;
}
#add-form input[type=submit] {
  height: 35px;
}
#add-form select {
  font-size: 18px;
  padding: 5px;
  box-sizing: content-box;
}

.modal-document {
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
}
.modal-document.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-document #add-form {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal-document #add-form input {
  height: 35px;
  text-align: center;
}
.modal-document #add-form input[type=submit] {
  height: 35px;
}
.modal-document #add-form select {
  background-color: rgb(255, 223, 223);
  border: 2px solid red;
  border-radius: 15px;
  width: 300px;
  padding: 5px;
  outline: none;
  text-align: center;
}
.modal-document #add-form select.active {
  background-color: rgb(222, 248, 222);
  border: 2px solid green;
}
.modal-document #add-form .date-range {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-document #add-form .date-range .dates {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.modal-document #add-form .date-range .dates input {
  width: 200px;
  border-radius: 15px;
}
.modal-document #add-form .date-range .dates input.active {
  background-color: rgb(222, 248, 222);
  border: 2px solid green;
}
.modal-document #add-form .date-range .dates input.inactive {
  background-color: rgb(255, 223, 223);
  border: 2px solid red;
}
.modal-document #add-form .upload-container label {
  display: block;
  padding: 10px 75px;
  background-color: rgb(255, 223, 223);
  border: 2px solid red;
  border-radius: 30px;
}
.modal-document #add-form .upload-container label.active {
  background-color: rgb(222, 248, 222);
  border: 2px solid green;
}
.modal-document #add-form .upload-container input {
  display: none;
}

.modal-pdf-viewer {
  height: 100vh;
  width: 50vw;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
}
.modal-pdf-viewer.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-pdf-viewer.active iframe {
  display: block;
}
.modal-pdf-viewer iframe {
  display: none;
  width: 100%;
  height: 100%;
}

.item-list {
  padding-top: 50px;
  margin: 0 auto;
  cursor: default;
  text-align: center;
  display: flex;
}
.item-list #add {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  border-radius: 50%;
  background-image: url(/static/icons/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #009879;
  cursor: pointer;
}
.item-list table {
  min-width: 100px;
  border-collapse: collapse;
}
.item-list table thead tr {
  height: 70px;
}
.item-list table thead tr th {
  padding: 0px 35px;
  background-color: #009879;
  color: #ffffff;
  border: 1px solid black;
}
.item-list table tbody tr {
  height: 35px;
}
.item-list table tbody tr:hover td {
  background-color: antiquewhite;
  color: #009879;
}
.item-list table tbody tr td {
  border: 1px solid black;
  background-color: white;
  padding: 0px 35px;
}
.item-list table tbody tr::after {
  width: 35px;
  height: inherit;
  position: absolute;
  content: "";
  visibility: hidden;
  background-image: url(/static/icons/edit.svg);
  background-size: cover;
  background-color: inherit;
}
.item-list table tbody tr:hover:after {
  visibility: visible;
}

body {
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  color: white;
  transition: 0.5s;
}
a:hover {
  color: #23dbdb;
}

.container {
  width: 1200px;
  margin: auto;
}

.sub-menu {
  position: sticky;
  margin: auto;
  top: 70px;
  padding-top: 20px;
}
.sub-menu ul {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sub-menu ul li a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #074561;
  transition: 0.5s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
.sub-menu ul li a:hover {
  color: #23dbdb;
}
.sub-menu ul .unit_name {
  margin-right: 100px;
}
.sub-menu ul .unit_name a {
  font-size: 24px;
  cursor: default;
  width: 400px;
  text-align: center;
}

.side-menu {
  position: sticky;
  top: 70px;
  display: inline-block;
}
.side-menu ul {
  background-color: #074561;
}
.side-menu ul li {
  border-top: 1px solid #287ca7;
}
.side-menu ul li:first-child {
  border-top: none;
}
.side-menu ul li a {
  text-align: center;
  display: block;
  padding: 20px;
  font-size: 22px;
}
.side-menu ul li a.active {
  background-color: #376a81;
}

.data-container {
  display: flex;
  align-items: start;
}

.wrapper {
  position: relative;
  border: 2px solid red;
  margin-top: 20px;
  padding: 20px 10px 10px;
}
.wrapper label {
  color: white;
  line-height: 20px;
  padding: 0 5px;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: red;
}

.content-container {
  margin: auto;
  padding: 0 700px;
}
.content-container iframe {
  height: 750px;
  width: 950px;
  margin: auto;
  zoom: 150%;
}

.info_container {
  border: 2px solid green;
  text-align: center;
  margin: auto;
}

.calendar {
  display: flex;
  justify-content: space-around;
}
.calendar .list-items {
  z-index: 3;
  max-width: 320px;
  width: 200px;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.calendar .list-items .item {
  z-index: 1;
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  padding: 0 15px;
  border-radius: 8px;
}
.calendar .list-items .item:hover {
  background-color: #e3f2fd;
}
.calendar .list-items .item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.calendar .list-items .item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
}
.calendar .list-items .item .checkbox .check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all;
}
.calendar .list-items .item.checked .checkbox {
  background-color: #4070fa;
  border-color: #4070fa;
}
.calendar .list-items .item.checked .check-icon {
  transform: scale(1);
}

.calendar-container {
  width: 1786px;
}
.calendar-container .month-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
  row-gap: 15px;
}
.calendar-container .month-container .month h3 {
  text-align: center;
  padding: 3 5px;
  font-weight: 700;
  font-size: 25px;
}
.calendar-container .month-container .month .days {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 4px;
}
.calendar-container .month-container .month .days .days-caption {
  display: contents;
}
.calendar-container .month-container .month .days .days-caption .day {
  background-color: rgb(189, 47, 47);
  text-align: center;
  color: white;
  font-weight: 700;
  height: 35px;
}
.calendar-container .month-container .month .days .day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.calendar-container .month-container .month .days .day .event-count {
  display: flex;
  font-size: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  text-wrap: nowrap;
  z-index: 3;
  position: absolute;
  background-color: white;
  border: 1px solid green;
  color: black;
  top: 35px;
  left: 40px;
  justify-content: center;
  align-items: center;
  color: red;
}
.calendar-container .month-container .month .days .day .tooltip {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  text-wrap: nowrap;
  padding: 20px;
  z-index: 100;
  visibility: hidden;
  position: absolute;
  top: -50px;
  left: 50px;
}
.calendar-container .month-container .month .days .day .tooltip:hover {
  visibility: visible;
}
.calendar-container .month-container .month .days .day:hover .tooltip {
  visibility: visible;
}

.calendar-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-options .year-selector {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  width: 250px;
  height: 80px;
  align-items: center;
  justify-content: space-around;
}
.calendar-options .year-selector .previous {
  width: 40px;
  height: 40px;
  background-image: url(icons/double-arrowheads-outlines-pointing-to-left-direction-svgrepo-com.svg);
  background-size: contain;
}
.calendar-options .year-selector .next {
  width: 40px;
  height: 40px;
  background-image: url(icons/double-arrowheads-outlines-pointing-to-left-direction-svgrepo-com.svg);
  background-size: contain;
  transform: rotate(180deg);
}
.calendar-options .year-selector p.current-year {
  font-size: 24px;
}
.calendar-options .drop-down-container {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 25px auto 25px;
}
.calendar-options .drop-down-container .select-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.calendar-options .drop-down-container .select-btn .btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.calendar-options .drop-down-container .select-btn .arrow-down {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.calendar-options .drop-down-container .select-btn.open .arrow-down {
  transform: rotate(-180deg);
}
.calendar-options .drop-down-container .select-btn.open ~ .list-items {
  visibility: hidden;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
.calendar-options .drop-down-container .list-items {
  z-index: 3;
  position: absolute;
  max-width: 320px;
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.calendar-options .drop-down-container .list-items .item {
  z-index: 1;
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  padding: 0 15px;
  border-radius: 8px;
}
.calendar-options .drop-down-container .list-items .item:hover {
  background-color: #e3f2fd;
}
.calendar-options .drop-down-container .list-items .item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.calendar-options .drop-down-container .list-items .item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
}
.calendar-options .drop-down-container .list-items .item .checkbox .check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all;
}
.calendar-options .drop-down-container .list-items .item.checked .checkbox {
  background-color: #4070fa;
  border-color: #4070fa;
}
.calendar-options .drop-down-container .list-items .item.checked .check-icon {
  transform: scale(1);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
    visibility: hidden;
  }
}/*# sourceMappingURL=main.css.map */