.modal {
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#add-form {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#add-form .input_box {
  display: flex;
  flex-direction: column;
}
#add-form input {
  width: 300px;
  height: 35px;
  text-align: center;
  font-size: 18px;
}
#add-form input[type=submit] {
  height: 35px;
}
#add-form select {
  font-size: 18px;
  padding: 5px;
}

.item-list {
  cursor: default;
  text-align: center;
}
.item-list #add {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 20px;
}
.item-list table {
  min-width: 100px;
  margin: auto;
  border-collapse: collapse;
}
.item-list table thead {
  height: 70px;
}
.item-list table thead th {
  padding: 0px 35px;
  background-color: #009879;
  color: #ffffff;
  border: 1px solid black;
}
.item-list table tbody tr {
  height: 35px;
}
.item-list table tbody tr:hover td {
  background-color: antiquewhite;
  color: #009879;
}
.item-list table tbody tr td {
  border: 1px solid black;
  background-color: white;
  padding: 0px 35px;
}
.item-list table tbody tr::after {
  width: 35px;
  height: inherit;
  position: absolute;
  content: "";
  visibility: hidden;
  background-image: url(/settings/static/img/edit.svg);
  background-size: cover;
  background-color: inherit;
}
.item-list table tbody tr:hover:after {
  visibility: visible;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

body {
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.sub-menu {
  text-align: center;
}
.sub-menu ul {
  display: inline-block;
  margin: auto;
  margin-top: 25px;
}
.sub-menu ul li {
  display: inline-block;
  margin-right: 10px;
}
.sub-menu ul li a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #074561;
  color: white;
  transition: 0.5s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
.sub-menu ul li a:hover {
  color: #23dbdb;
}

.select-protocol {
  text-align: center;
  margin: auto;
  cursor: default;
}
.select-protocol table {
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
}
.select-protocol table th,
.select-protocol table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 15px;
  background-color: white;
}
.select-protocol table th {
  writing-mode: horizontal-tb;
}
.select-protocol table .inactive {
  background-color: red;
}
.select-protocol table .active {
  background-color: rgb(35, 231, 35);
}
.select-protocol table .absent {
  background-color: black;
}
.select-protocol button {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

.units {
  border: 2px solid rgb(31, 207, 104);
  border-radius: 5px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
}
.units label {
  width: 150px;
  display: inline-block;
}
.units select {
  width: 300px;
  margin: 15px;
}
.units button {
  text-align: center;
}
.units input[type=submit] {
  display: block;
  margin: auto;
}

.main-menu {
  height: 70px;
  background: #074561;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
.main-menu .logo {
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
.main-menu ul {
  float: right;
  margin-right: 30px;
}
.main-menu ul li {
  display: inline-block;
  position: relative;
}
.main-menu ul li a {
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #074561;
  transition: 0.5s;
}
.main-menu ul li a:hover {
  color: #23dbdb;
}
.main-menu ul li ul {
  position: absolute;
  top: 100%;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
.main-menu ul li ul li {
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
.main-menu ul li ul li a {
  line-height: 50px;
}
.main-menu ul li ul li ul {
  border-top: none;
  position: absolute;
  top: 0px;
  left: 100%;
}
.main-menu ul li:hover > ul {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  white-space: nowrap;
}

.sidebar {
  width: 250px;
  background: #1b1b1b;
}
.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
.sidebar ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  border-left: 3px solid transparent;
}
.sidebar ul li a:hover {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
.sidebar ul li a .rotate {
  transform: translateY(-50%) rotate(-180deg);
}
.sidebar ul li a .active {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
.sidebar ul li a .active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
.sidebar ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
.sidebar ul li ul {
  position: static;
  display: none;
}
.sidebar ul li ul li {
  line-height: 42px;
  border-top: none;
}
.sidebar ul li ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
.sidebar ul li ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}
.sidebar ul .feat-show.show {
  display: block;
}
.sidebar ul .serv-show.show1 {
  display: block;
}
.sidebar ul:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.flex {
  display: flex;
}/*# sourceMappingURL=main.css.map */