@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  background: linear-gradient(0deg, rgb(220, 255, 254) 0%, rgb(174, 178, 255) 100%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.sub-menu {
  text-align: center;
}
.sub-menu ul {
  display: inline-block;
  margin: auto;
  margin-top: 25px;
}
.sub-menu ul li {
  display: inline-block;
  margin-right: 10px;
}
.sub-menu ul li a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #074561;
  color: white;
  transition: 0.5s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
.sub-menu ul li a:hover {
  color: #23dbdb;
}

.select-protocol {
  text-align: center;
  margin: auto;
  cursor: default;
}
.select-protocol table {
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
}
.select-protocol table th,
.select-protocol table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 15px;
  background-color: white;
}
.select-protocol table th {
  writing-mode: horizontal-tb;
}
.select-protocol table .inactive {
  background-color: red;
}
.select-protocol table .active {
  background-color: rgb(35, 231, 35);
}
.select-protocol table .absent {
  background-color: black;
}
.select-protocol button {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

.units {
  border: 2px solid rgb(31, 207, 104);
  border-radius: 5px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
}
.units label {
  width: 150px;
  display: inline-block;
}
.units select {
  width: 300px;
  margin: 15px;
}
.units button {
  text-align: center;
}
.units input[type=submit] {
  display: block;
  margin: auto;
}

.main-menu {
  height: 70px;
  background: #074561;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
.main-menu .logo {
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
.main-menu ul {
  float: right;
  margin-right: 30px;
}
.main-menu ul li {
  display: inline-block;
  position: relative;
}
.main-menu ul li a {
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #074561;
  transition: 0.5s;
}
.main-menu ul li a:hover {
  color: #23dbdb;
}
.main-menu ul li ul {
  position: absolute;
  top: 100%;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
.main-menu ul li ul li {
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
.main-menu ul li ul li a {
  line-height: 50px;
}
.main-menu ul li ul li ul {
  border-top: none;
  position: absolute;
  top: 0px;
  left: 100%;
}
.main-menu ul li:hover > ul {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  white-space: nowrap;
}

.sidebar {
  width: 250px;
  background: #1b1b1b;
}
.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
.sidebar ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  border-left: 3px solid transparent;
}
.sidebar ul li a:hover {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
.sidebar ul li a .rotate {
  transform: translateY(-50%) rotate(-180deg);
}
.sidebar ul li a .active {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
.sidebar ul li a .active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
.sidebar ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
.sidebar ul li ul {
  position: static;
  display: none;
}
.sidebar ul li ul li {
  line-height: 42px;
  border-top: none;
}
.sidebar ul li ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
.sidebar ul li ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}
.sidebar ul .feat-show.show {
  display: block;
}
.sidebar ul .serv-show.show1 {
  display: block;
}
.sidebar ul:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.flex {
  display: flex;
}

/* Import Google font - Poppins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper .header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.header .icons {
  display: flex;
}

.header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

.header .icons span:hover {
  background: #f2f2f2;
}

.header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: 14.2857142857%;
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #9B59B6;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}/*# sourceMappingURL=main.css.map */