<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="main-menu">
                <label for="" class="logo">ИТРО</label>
                <ul>
                    <li><a href="">home</a></li>
                    <li>
                        <a href=>Аппараты <i class="fas fa-caret-down"></i></a>
                        <ul>
                            <li><a href="/units/document">Документы</a></li>
                            <li><a href="/database/parameter">Календарь</a></li>
                            <li><a href="/database/unit">Аппараты</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=>Аппараты <i class="fas fa-caret-down"></i></a>
                        <ul>
                            {% for unit_type, unit in menu_units.items() %}
                            {% if unit|length == 1 %}
                            <li><a href="/units/{{unit[0][1]}}">{{unit[0][0]}}</a>
                                {% else %}
                            <li><a href="/unit/document">{{unit_type}}</a>
                                <ul>
                                    {% for item in unit %}
                                    <li><a href="item[1]">{{item[0]}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="">Документы <i class="fas fa-caret-down"></i></a>

                        <ul class="dropdown-content">
                            <li><a href="/unit_parameter">Аппараты/Параметры</a></li>
                            <li><a href="/control_protocol">Протоколы</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=>База данных <i class="fas fa-caret-down"></i></a>
                        <ul>
                            <li><a href="/database/general_data">Общие данные</a></li>
                            <li><a href="/database/parameter">Параметры</a></li>
                            <li><a href="/database/unit">Аппараты</a></li>
                            <li><a href="/database/source_energy">Источники/Энергия</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block main %}
    {% endblock %}
</body>

</html>