{% extends "index.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('settings_bp.static',filename='settings.css') }}">
{% endblock %}
{% block main %}
<div class="content-container">
    <nav class="side-menu">
        <ul>
            <li><a href="{{url_for('settings_bp.deviation')}}">Отклонения</a></li>
            <li><a href="{{url_for('settings_bp.parameter')}}">Параметры</a></li>
            <li><a href="{{url_for('settings_bp.period')}}">Периодичность</a></li>
            <li><a href="{{url_for('settings_bp.unit_type')}}">Тип аппарата</a></li>
            <li><a href="{{url_for('settings_bp.unit')}}">Аппараты</a></li>
        </ul>
    </nav>
    <div class="controls">
        <button data-modal-target="#modal" id="add">добавить</button>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>

{%endblock%}