{% extends "index.html" %}
{% block main %}
<div class="container">
    <div class="sub-menu">
        <ul>
            <li><a href="{{url_for('units_bp.unit_parameter')}}">Параметры</a></li>
            <li><a href="/database/general_data/period">Календарь</a></li>
            <li><a href="/database/general_data/deviation">События</a></li>
            <li><a href="/units/unit_document/2">Документы</a></li>
        </ul>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
{% endblock %}