<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='print.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-wrapper">
                <p>« УТВЕРЖДАЮ»</p>
                <p>Главный врач</p>
                <p>УЗ «Могилевский областной</p>
                <p>онкологический диспансер»</p>
                <p>________________С.А.Батовский</p>
                <p>«23» августа 2023 г.</p>
            </div>

        </header>
        <main>
            <div class="title">
                <p>Контроль качества работы</p>
                <p>{{unit.unit_type.unit_type_desc}}</p>
                <p>Наименование: {{unit.unit_desc}} &emsp; С/Н: {{unit.unit_sn}}</p>
            </div>
            <div class="data-container">

                {% for period, parameters in unit_parameters.items() %}
                {% if parameters%}<div class="item-list">
                    <p>{{period.upper()}}</p>
                    <table>
                        <thead>
                            <tr>
                                <th>№ пп</th>
                                <th>Контролируемый параметр</th>
                                <th>Отклонение</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for parameter in parameters %}
                            <tr class="data" id="">
                                <td>{{loop.index}}</td>
                                <td>{{parameter.parameter.parameter_desc}}</td>
                                <td>{{parameter.parameter.deviation.deviation_desc}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% endfor %}

            </div>
            <div class="signature">
                <div class="person">
                    <p>Ведущий инженер</p>
                    <p>_________________ Н.В. Ерещенко</p>
                </div>
                <div class="person">
                    <p>Инженер (заведующего ИТРО)</p>
                    <p>_________________ П.Е. Розенков</p>
                </div>
            </div>
        </main>


    </div>

</body>

</html>