{% extends "unit.html" %}
{% block content %}
<div class="controls">
    <button data-modal-target="#modal" id="add">добавить</button>
    <a href="{{ url_for('.print_parameters') }}" target="_blank">Распечатать</a>
</div>
<div class="modal" id="modal">
    <form id="add-form" action="{{ url_for('.unit_parameter') }}" method="POST">
        <input type="hidden" name="id">
        <div class="input_box">
            <label for="parameter_desc">Параметр</label>
            <select name="parameter_desc" id="select">
                {% for parameter in parameters %}
                <option value="{{parameter.parameter_desc+'*'+parameter.deviation.deviation_desc}}">
                    {{parameter.parameter_desc}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input_box">
            <label for="period_desc">Периодичность</label>
            <select name="period_desc" id="select">
                {% for period in periods %}
                <option value="{{period.period_desc}}">{{period.period_desc}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
<div id="overlay"></div>

<div class="data-container">
    <div class="item-list">
        {{session['current_unit']}}
        {% for period, parameters in result.items() %}
        {% if parameters%}
        <p>{{period}}</p>
        <table>
            <thead>
                <tr>
                    <th>№ пп</th>
                    <th>Наименование</th>
                    <th>Серийный номер</th>
                </tr>
            </thead>
            <tbody>
                {%for parameter in parameters %}
                <tr class="data" id="">
                    <td>{{loop.index}}</td>
                    <td>{{parameter.parameter.parameter_desc}}</td>
                    <td>{{parameter.parameter.deviation.deviation_desc}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% endif %}
        {% endfor %}
    </div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('settings_bp.static', filename='period.js')}}"></script>
{% endblock %}