{% extends "index.html" %}
{% block main %}

<div class="main-container">
    <aside>
        {% include 'settings/includes/side-menu.html' %}
    </aside>
    <main>
        <section id="tab-data">
            <ul class="tabs">
                <li class="tab deviation">
                    <p>Отклонение </p>
                </li>
                <li class="tab unit_category">
                    <p>Категория аппарата </p>
                </li>
                <li class="tab main_parameter">
                    <p>Основные параметры </p>
                </li>
                <li class="tab sec_parameter">
                    <p>Вторичные параметры</p>
                </li>
                <li class="tab planning_parameter">
                    <p>Параметры планирования</p>
                </li>
            </ul>
            <div class="data-container">
                <div class="table-container"></div>
            </div>

</div>
</section>
</main>
</div>
<script type="module" src="{{url_for('settings.static', filename='quality_assuarance.js')}}"></script>
{% endblock %}