<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="https://kit.fontawesome.com/517fd438a8.js" crossorigin="anonymous"></script>
    {% block style%}
    {% endblock %}
    <title>ITRO</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="main-menu">
                <div for="" class="logo"><a href="/">ИТРО</a></div>
                <ul>
                    <li><a href="{{url_for('calendar.load_calendar') }}">Календарь</a></li>
                    <li>
                        <a href=>Аппараты <i class="fas fa-caret-down"></i></a>
                        <ul>
                            {% for unit in session["main_units"] %}
                            <li><a
                                    href="{{url_for('units.set_unit', unit_id=unit['unit_id'], unit_category=unit['unit_category']) }}">{{unit['unit_desc']}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href=>Доп оборудование <i class="fas fa-caret-down"></i></a>
                        <ul>
                            {% for sec_unit in session["sec_units"] %}
                            <li><a
                                    href="{{url_for('units.set_unit', unit_id=sec_unit['unit_id'], unit_category=sec_unit['unit_category'])}}">{{sec_unit['unit_desc']}}</a>
                            </li>
                            {% endfor %}
                            {% for planning_system in session["planning"] %}
                            <li><a
                                    href="{{url_for('units.set_unit', unit_id=planning_system['unit_id'], unit_category=planning_system['unit_category'])}}">{{planning_system['unit_desc']}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href=>Документы <i class="fas fa-caret-down"></i></a>
                        <ul>
                            <li><a href="{{url_for('documents.protocols')}}">Протоколы</a></li>
                            <li><a href="">Документы</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{url_for('settings.quality_assuarance')}}">Настройки</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block main %}
    {% endblock %}
</body>

</html>