{% extends "index.html" %}
{% block main %}
<div class="container">
    <div class="sub-menu">
        <ul>
            <li><a href="/database/general_data/unit_type">Тип аппарата</a></li>
            <li><a href="/database/general_data/period">Периодичность</a></li>
            <li><a href="/database/general_data/deviation">Отклонения измерений</a></li>
            <li><a href="/database/general_data/document_type">Тип документа</a></li>
        </ul>
    </div>
</div>
{%block data%}{% endblock %}

{% endblock %}