{% extends "database/general_data.html" %}

{% block data %}
<div class="general_add_form">
    <form action="" method="POST">
        <label for="unit_type_desc">Тип аппарата</label>
        <input type="text" id='unit_type_desc' name="unit_type_desc">
        <input type="submit" name="submit_button" value="Добавить">
    </form>
</div>
<div class="item-list">
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Тип аппарата</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for unit_type in unit_types %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{unit_type.unit_type_desc}}</td>
                <td id={{unit_type.id}} onclick="edit(this)"></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script src="{{url_for('database_bp.static', filename='unit_type.js')}}"></script>

{%endblock%}